<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BranchMaster/src/com/blubi/branchmaster/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.blubi.branchmaster.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--homedir=C:\Workspaces\Nlp_Payables\Master\core --nolaunch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BranchMaster"/>
</launchConfiguration>
